<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quarksoup.spotmefitness">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- https://flutter.dev/docs/release/breaking-changes/network-policy-ios-android#allowing-cleartext-connection-for-debug-builds-->
    <application android:usesCleartextTraffic="true"/>
</manifest>
